.videos {
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    flex-direction: column;
}

.videos__cards {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin-bottom: 20px;
    width: 100%;
    gap: 20px;
}

.videos__cards::-webkit-scrollbar {
    background-color: var(--bg-color);
}

.videos__cards::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
}

.videos__card {
    cursor: pointer;
    display: flex;
    border: 1px solid var(--text-color);
    background-color: var(--bg-color);
    flex-direction: column;
    width: 350px;
    height: 255px;
}

.card__img {
    max-height: 150px;
    object-fit: cover;
    object-position: top;
}

.card__allBlock {
    display: flex;
    padding: 0 10px;
    height: -webkit-fill-available;
    align-items: center;
}

.card__avatar {
    max-width: 50px;
    max-height: 50px;
    border-radius: 100px;
    margin-right: 20px;
    object-fit: cover;
    object-position: center;
}

.card__textBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__title {
    margin: 0;
    font-size: 16px;
}

.card__name {
    color: gray;
    margin-bottom: 5px;
    font-size: 12px;
}

@media screen and (max-width: 768px) {
    .videos {
        margin-top: 20px;
    }

    .videos__title {
        margin-top: 0;
    }

    .videos__card {
        width: 250px;
        height: 200px;
    }

    .videos__cards {
        margin-bottom: 0;
    }

    .card__img {
        max-height: 100px;
    }

    .card__title {
        font-size: 14px;
    }

    .card__name {
        font-size: 10px;
    }

    .card__avatar {
        margin-right: 5px;
    }
}