.courses {
    display: flex;
    margin-bottom: 40px;
    flex-direction: column;
}

.courses__title {
    margin: 0 auto;
    font-size: 32px;
    margin-bottom: 30px;
}

.courses__cards {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    width: 100%;
    gap: 20px;
}

.courses__card {
    display: flex;
    border: 1px solid var(--text-color);
    background-color: var(--bg-color);
    flex-direction: column;
    width: 350px;
    height: 255px;
}

.card__img {
    max-height: 150px;
    object-fit: cover;
    object-position: top;
}

.card__allBlock {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0 10px;
    height: -webkit-fill-available;
    align-items: center;
}

.card__avatar {
    max-width: 50px;
    max-height: 50px;
    border-radius: 100px;
    margin-right: 20px;
    object-fit: cover;
    object-position: center;
}

.card__textBlock {
    display: flex;
    width: -webkit-fill-available;
    flex-direction: column;
    justify-content: space-between;
}

.card__title {
    margin: 0;
    font-size: 22px;
}

.card__about {
    margin: 0;

}

.card__name {
    color: gray;
    margin-bottom: 5px;
    font-size: 14px;
}

.card__btn {
    cursor: pointer;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    padding: 15px;
    margin-top: 0px;
    margin-left: auto;
    font-size: 16px;
    color: #fff;
    border: none;
    background-color: var(--hf-color);
}

.card__btn:hover {
    color: #fff;
    background-color: var(--hf-color);
}

@media screen and (max-width: 768px) {
    .courses {
        margin-top: 20px;
    }

    .courses__card {
        width: 250px;
        height: 200px;
    }

    .card__img {
        max-height: 100px;
    }

    .card__title {
        font-size: 14px;
    }

    .card__name {
        font-size: 10px;
    }

    .card__avatar {
        margin-right: 5px;
    }
}