.newcourse {
    padding-bottom: 30px;
}

.newcourse__addBlock {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.newcourse__card {
    background: #f1f1f1;
    border-radius: 12px;
    padding: 1rem;
    width: 220px;
    text-align: center;
    cursor: pointer;
    transition: 0.2s ease;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newcourse__title {
    margin: 0;
    margin-bottom: 10px;
}

.newcourse__card:hover {
    background: #e8ffe9;
    transform: scale(1.02);
}

.card__add {
    font-size: 2rem;
    color: #3a9;
}

.card__text {
    color: #000;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 0.5rem;
}

.card__info {
    font-size: 0.9rem;
    color: #333;
    margin-bottom: 0.3rem;
}

.createModal {
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    padding: 2rem;
    margin: 2rem auto;
}

.createModal__close {
    float: right;
    cursor: pointer;
    font-size: 1.2rem;
    margin: 0;
    color: crimson;
}

.createModal__text {
    font-weight: 600;
    margin-bottom: 0.3rem;
    color: #000;
    display: block;
}

.createModal__button {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.createModal__subm {
    background-color: #1e90ff;
    border: none;
    color: white;
    padding: 0.6rem 1.2rem;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 1rem;
}

.createModal__subm:disabled {
    background-color: #888;
    cursor: not-allowed;
}