.footer {
    width: 100%;
    color: var(--ftext-color);
    background-color: var(--hf-color);
    margin-top: auto;
}

.footer__company {
    font-size: 28px;
}

.footer__mail {
    font-size: 20px;
}

.footer__all {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.lowOpacity {
    opacity: 0.3;
}

@media screen and (max-width: 900px) {
    .footer__logo {
        display: none;
    }
}

@media screen and (max-width: 440px) {
    .footer__all {
        flex-direction: column;
    }

    .footer__mail {
        margin-top: 0;
    }
}